* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background : linear-gradient(80deg, rgba(0, 34, 255, 0.899), rgb(20, 84, 130));
}

main {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 8rem;
}

h1 {
  padding: 0.5rem;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

button {
  cursor: pointer;
  transition: background-color 0.1s, opacity 0.1s;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.267);
  opacity: 0.8;
}

button:active {
  transition: background-color 0.05s ease, opacity 0.05s ease;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}


