.timer-cont {
  display: flex;
  width: 100%;
  height: 0.2rem;
  overflow: hidden;
}

.timer-flow {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(114, 94, 133);
  transform-origin: left;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 0.8rem;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.option-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.option-wrapper button{
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid black;
}

.question-wrapper button:hover:disabled{
  cursor: no-drop;
}

.next-btn {
  padding: 0.3rem;
  background-color: gray;
}



